{% extends "base.html" %}
{% block main_content %}
    <div style="float:left; width:400px;">
        {% if not ERR_found %}
        <h3 style="margin:0 0 20px 0; color:green;">Reservation Cancelled</h3>
        {% else %}
        <h3 style="margin:0 0 20px 0;">Cancel Failed</h3>
        {% endif %}


        {% if cancel_success %}
        <div class="gb">
            This reservation has been cancelled.
        
            {% ifequal reservation.start_datetime.date reservation.end_datetime.date %}
                <!-- start / end on same day -->
                 <p>Person: <b> {{ reservation.user }}</b></p>
                <p>Date: <b> <span class="res_cancelled">{{ reservation.start_datetime|date:"F j, Y" }}</span></b></p>
                <p>Time: <b><span class="res_cancelled">{{ reservation.start_datetime|date:"P" }}</b> &#151; <b><span class="res_cancelled">{{ reservation.end_datetime|date:"P" }}</span></b></p>
            {% else %}
            <!-- start / end on different days -->
            <p>Start Time: <b><span class="res_cancelled">{{ reservation.start_datetime|date:"F j, Y" }} at {{ reservation.start_datetime|date:"P" }}</span></b></p>
            <p>End Time: <b><span class="res_cancelled">{{ reservation.end_datetime|date:"F j, Y" }} at {{ reservation.end_datetime|date:"P" }}</span></b></p>
            {% endifequal %}

            {% if reservation.include_poster_tube %}
            <p>Poster Tube: <b><span class="res_cancelled">{{ reservation.poster_tube_details }}</span></b></p>
            {% else %}
            <p>Poster Tube: <b><span class="res_cancelled">no poster tube</span></b></p>
            {% endif %}
        </div>
        {% endif %}

            
        {% include "reservation_signup/link_return_to_monthly_cal.html" %}


     	{% include "reservation_signup/signup_errs.html" %}
		
       
    </div>
    
    {% include "reservation_signup/right_col_reservations.html" %}
    
	<div class="clear"></div>
{% endblock %}
