<div style="float:left; width:400px; margin:0 0 0 20px">
    {% if selected_date and calendar_events %}
    <!-- day listing -->
    <div id="day_events_list">
    <table cellspacing="0">
        <tr>
            <th colspan="2">{{ selected_date|date:"F j, Y" }}</th>
        </tr>
        {% for evt in calendar_events %}
            {% if evt.is_calendar_message %}
                <tr style="background-color:#e8e8e8;">
                    <td class="time_col"><b>{{ evt.start_datetime|date:"g:i A" }} &#150;
                            <br />{{ evt.end_datetime|date:"g:i A" }}<b></td>
                        <td><b>{{ evt.display_name|safe }}</b></td>
                </tr>
            {% endif %}

            {% if evt.is_reservation %}
                {% ifequal reservation.id evt.id %}
                <tr style="background-color:#f9de66;">
                    <td class="time_col"><b>{{ evt.start_datetime|date:"g:i A" }}<b></td>
                    <td><b>{{ evt.display_name|safe }}</b></td>
                </tr>
            
                {% else %}{% ifequal evt.user calendar_user %}
                	<tr style="background-color:#f4fcf2;">
    	                <td class="time_col"><b>{{ evt.start_datetime|date:"g:i A" }}
    	                   </b></td>
    	                <td><b>{{ evt.display_name|safe }}</b></td>
    	            </tr>
    			{% else %}
    				<tr>
    		            <td class="time_col">{{ evt.start_datetime|date:"g:i A" }}</td>
    		            <td>{{ evt.display_name|safe }}&nbsp;</td>
    		        </tr>
                {% endifequal %}{% endifequal %}
            {% endif %}
        {% endfor %}
    </table>
    </div>
    {% endif %}
</div>