{% if ERR_found %}
    <div class="err_box">
	
	{% if ERR_reservation_not_cancelled %}
		This reservation has NOT been cancelled.
		{% if reservation %}
		<p>Please try to <a href="{% url view_cancel_signup reservation.id_hash %}">cancel</a> it again.</p>
		{% endif %}
	{% endif %}

    {% if ERR_no_permission_to_free_timeslot %}
        You must be a calendar administrator to free up a time slot.
    {% endif %}
    
    {% if ERR_no_permission_to_change_time %}
        You must be a calendar administrator to change a time slot.
    {% endif %}
    
    {% if ERR_calendar_event_not_cancelled %}
        Sorry!  The blackout time was NOT cancelled!
        <p>Please go back to the monthly calendar and try again.</p>
    {% endif %}
    
	{% if ERR_no_permission_to_reserve_as_admin %}
        You do not have permission to reserve time for another user.
	{% endif %}
	
	{% if ERR_no_permission_to_view_history %}
        You do not have permission to view reservation history for this user.
	{% endif %}
	
	{% if ERR_no_permission_to_cancel %}
        You do not have permission to cancel this reservation.
	{% endif %}
	
	{% if ERR_reservation_already_cancelled %}
		This reservation has already been cancelled.
	{% endif %}

	{% if ERR_selected_date_is_invalid %}
        Sorry!  The selected date is not valid.
    {% endif %}

	
	{% if ERR_signup_day_has_passed %}
        Sorry!  You cannot sign up for a day in the past:)
    {% endif %}
    
    {% if ERR_reservation_type_not_found %}
        Sorry!  Sign ups are not available for this day.
    {% endif %}
    
    {% if ERR_not_authenticated %}You must sign in to reserve a time.
        {% include "pin_auth/login_url.html" %}
    {% endif %}
    
    {% if ERR_selected_date_not_valid_for_reservation_type %}
        Sorry!  Sign ups are not available for this day.
    {% endif %}

	{% if ERR_no_reservation_times_left_today %}
		Sorry!  There are no more open time slots.
	{% endif %}
	
	{% if ERR_different_user %}
		You do not have permission to cancel this reservation.
	{% endif %}
	
	{% if ERR_facility_closed %}
		{% if reservation_type %}
		Sorry, the facility <b>closed at {{ reservation_type.closing_time|time:"P" }}</b>.
		{% else %}
		Sorry, the facility is closed.
		{% endif %}
	{% endif %}
	    
    <p>Please return to the 
		{% if selected_date %}
			<a href="{% url view_month_calendar selected_date|date:"Y-m" %}">monthly calendar</a>.
		{% else %}
		    <a href="{% url view_current_month_calendar %}">monthly calendar</a>.
		
		{% endif %}
	</p>
    
    </div>
{% endif %}