
{% extends "base.html" %}
{% block main_content %}
<div><!-- start: overarching_cal_div -->
    <div style="float:left; width:400px;">
        {% if ERR_found %}
            {% if ERR_signup_day_has_passed %}
                Sorry!  You cannot signup for a day in the past:)
            {% endif %}
            {% if ERR_reservation_type_not_found %}
                Sorry!  Further reservations are not available for this day.
            {% endif %}
        {% endif %}
        
        {% if num_timeslots > 0 %}
            <p>building sign-up form - open slots</p>
            <ul>
            {% for ts in open_timeslots %}
                <li>{{ ts.start_datetime|date:"P"}} - {{ ts.end_datetime|date:"P"}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div style="float:left; width:400px;">
        {% if selected_date and calendar_events %}
        <!-- day listing -->
        <div id="day_events_list">
        <table cellspacing="0">
            <tr>
                <th colspan="2">{{ selected_date|date:"F j, Y" }}</th>
            </tr>
            {% for evt in calendar_events %}
            <tr>
                <td class="time_col">{{ evt.start_datetime|date:"P" }} &#151; {{ evt.end_datetime|date:"P" }}</td>
                <td>{{ evt.display_name|safe }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
	<div class="clear">
</div><!-- end: overarching_cal_div -->
{% endblock %}
