
{% extends "base.html" %}
{% block main_content %}
    <div style="float:left; width:400px;">
        <h3 style="margin:0 0 20px 0; ">Sign Up for a Time Slot</h3>

        <div id="id_signup_form_div">
        <form method="post" id="signup_form" name="signup_form" action="{% url view_signup_page selected_date|date:"Y-m-d" %}">{% csrf_token %} 
            {{ signup_form.non_field_errors }}
        <table>
            <tr>
                <th>Date:</th>
                <td><b>{{ selected_date|date:"F j, Y" }}</b></td>
            </tr>
        {% if reservation_type %}
            <tr>    
                <th>Facility Hours:</th>
                <td><b>{{ reservation_type.opening_time|time:"P" }} 
                        to  {{ reservation_type.closing_time|time:"P" }}</b></td>
            </tr>
            
            
            {% if signup_form  and not ERR_found %}
            <tr>    
                <th># open time slots:</th>
                <td><b>{{ num_timeslots }}</b></td>
            </tr>
                {% for f in signup_form %}
                    {% if f.is_hidden %}
                        {{ f }}
                    {% else %}
                    <tr>
                        <th>{{ f.label }}</th>
                
                        <td>{% for err in f.errors %}
                                <span style="color:#ff0000;">{{ err }}</span><br />
                            {% endfor %} 
                            {{ f }}</td>
                        {% endif %}
                    </tr>
                    {#{ signup_form.as_table }#}
                {% endfor %}
           
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="sign up!" value="sign up!"></td>
            </tr>
            <tr>
                <th colspan="2"><br />Return to the <a href="{% url view_month_calendar selected_date|date:"Y-m" %}">monthly calendar</a>.</td>
            </tr>
            {% endif %}
        {% endif %}
        </table></form>
        </div>
        {% if ERR_found %}
            <div class="err_box">{% if ERR_signup_day_has_passed %}
                Sorry!  You cannot sign up for a day in the past:)
            {% endif %}
            
            {% if ERR_reservation_type_not_found %}
                Sorry!  Sign ups are not available for this day.
            {% endif %}
            
            {% if ERR_not_authenticated %}You must sign in to reserve a time.
                {% include "pin_auth/login_url.html" %}
            {% endif %}
            
            {% if ERR_selected_date_not_valid_for_reservation_type %}
                Sorry!  Sign ups are not available for this day.
            {% endif %}
            <p>Please return to the <a href="{% url view_month_calendar selected_date|date:"Y-m" %}">monthly calendar</a>.</p>
            
            </div>
        {% endif %}
       
        
        
        {% comment %}
        {% if num_timeslots > 0 %}
            <p>building sign-up form - open slots</p>
            <ul>
            {% for ts in open_timeslots %}
                <li>{{ ts.start_datetime|date:"P"}} - {{ ts.end_datetime|date:"P"}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endcomment %}
    </div>
    
    {% include "reservation_signup/right_col_reservations.html" %}
	<div class="clear"></div>
{% endblock %}
