{% if org.get_num_links > 0 %}
    {% for lnk in org.get_listing_links %}
    <li>
            {% if lnk.link_type == 'DesignLink' %}
               {{ org.abbreviation }} &#150; <a href="{{ lnk.design_link }}">{{ lnk.name }}</a>
            {% else %}
                {{ org.abbreviation }} &#150;  <a href="{{ lnk.main_image.url }}">{{ lnk.name }}</a>             
            {% endif %}    
    </li>
    {% endfor %}
{% endif %}
{% comment %}
<b>{{ org.abbreviation }} &#150; {{ org.name }}</b>:
     &nbsp; {% if org.website %}<a href="{{ org.website }}">site</a>{% endif %}
{% endcomment %}
