{% extends "base.html" %}
{% load url from future %}

{% block extra_header %}
<style>
{% for status in stati %}
span.class_{{ status.name }}_highlight {
  background-color: {{ status.hex_color }};
  {% if status.name != 'received' %} 
  color: #fff;
  {% endif %}
}
{% endfor %}
</style>
{% endblock %}


{% block main_content %}

        
<!-- start: start header info -->
<div>
    <div style="float:left; width:240px;">
        <h3 style="margin:0 0 20px 0;">Reservation History{% if cal_user_to_check %}: {{ cal_user_to_check }}{% endif %}</h3>

	{% if  cal_user_to_check %}
         <p><b>{{ reservations.count }} reservation{{ reservations.count|pluralize }}</b> found for <b>{{ cal_user_to_check }}</b>.
             <br />{{ cancellations_count }} cancellation{{ cancellations_count|pluralize }}</b> 
        {% include "reservation_signup/link_return_to_monthly_cal.html" %}         
        </p>
    {% endif %}

         {% if reservations.count > 0 %}
         {{ cal_user }}
         {% if calendar_user.is_calendar_admin and calendar_user.user.is_staff %}
         <a href="{% url 'admin:calendar_event_reservation_changelist'  %}?user__id__exact={{ cal_user_to_check.id }}" target="dadmin">View in Admin</a>
		 {% endif %}
	</div>
		 
		 {% if  cal_user_to_check %}
          <div style="float:left; width:270px; border:1px solid #999; margin:0 0 15px 150px;">

             <div style="padding:10px; background-color:#F5F6F1;"><b>Current Information</b><br />
               {#  <b>name</b>: {{ cal_user_to_check }}<br /> #}
             <b>phone</b>: {{ cal_user_to_check.phone_number }}<br />
             <b>email</b>: <a href="mailto:{{ cal_user_to_check.contact_email }}">{{ cal_user_to_check.contact_email }}</a><br />
             <b>affiliation</b>: {{ cal_user_to_check.lab_name }}<br />
             <b>billing code</b>: {{ cal_user_to_check.billing_code }}<br />
             </div>

         </div>
         {% endif %}
    <div class="clear"></div>
<!-- end: start header info -->
</div>		 
         <div id="id_reservation_listing">
            <table cellspacing="0">
                <tr>
                    <th>&nbsp;</th>
                    <th>date</th>
                    <th>start time</th>
                    <th>lab or group affiliation<br />
                        expense code
                        </th>
                    <th>poster&nbsp;tube</th>
                    <th>cancelled?</th>
		    {% if calendar_user.is_calendar_admin and calendar_user.user.is_staff %}
		    <th>Status</th>
		    <th>Free Timeslot</th>
		    <th>Invoice</th>
		    {% endif %}
                </tr>
         {% for r in reservations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ r.start_datetime|date:"m/d/Y" }}
                     {% if calendar_user.is_calendar_admin and calendar_user.user.is_staff %}
                    <br />(<a href="{% url 'admin:calendar_event_reservation_change' r.id  %}" target="dadmin">edit</a>)
                    {% endif %}
           		 
                    </td>
                <td class="rt">{{ r.start_datetime|date:"g:i" }}&nbsp;{{ r.start_datetime|date:"A" }}</td>
                <td>{{ r.lab_name }}
                    {% if r.billing_code %}<br />{{ r.billing_code }}{% endif %}
                    {% if r.print_media %}<br />{{ r.print_media }}{% endif %}
                    {% if r.note %}<br /><br />Note: {{ r.note|safe }}{% endif %}
                    &nbsp;</td>
                <td>
                    
                    {% if r.include_poster_tube %}
                        {{ r.poster_tube_details }}
                     {% else %}
                        No
                     {% endif %}
                </td>
                <td>{% if r.is_cancelled %}YES <div class="cancelled_box"></div>
                    
                    {% else %}no <div class="enabled_box"></div>{% endif %}</td>
		{% if calendar_user.is_calendar_admin and calendar_user.user.is_staff %}
		<td>
		  {% for status in stati %}
		    {% if r.calendarevent_ptr.status.next == status %}
		      <span style="line-height: 1.8em;"><a href="{% url 'view_mark_status' r.id r.calendarevent_ptr.status.next %}">{{ status.name|title }}</a></span>
		    {% elif r.calendarevent_ptr.status == status %}
		      <span style="line-height: 1.8em;" class="class_{{ status.name }}_highlight">{{ status.name|title }}</span>
		    {% elif status.name == 'finished' %}
		      <span style="line-height: 1.8em;"><a href="{% url 'view_mark_status' r.id status %}">{{ status.name|title }}</a></span>
		    {% else %}
 		      <span style="line-height: 1.8em;">{{ status.name|title }}</span>
		    {% endif %}
		  {% endfor %}
		      
		</td>
		<td>
		  {% if not r.calendarevent_ptr.is_timeslot_free %}
		      Timeslot is locked
		      <a href="{% url 'view_mark_timeslot_free' r.id 'True' %}">Make timeslot free</a>
		  {% else %}
		      Timeslot is free
		      <a href="{% url 'view_mark_timeslot_free' r.id 'False' %}">Make timeslot locked</a>
		  {% endif %}
		  </td>
		<td>
		  <a href="{% url 'view_create_invoice' r.id %}">Create Invoice</a>
		  </td>

		{% endif %}
            </tr>
            
         {% empty %}
         {% endfor %}
            </table>
         </div>
         {% endif %}

         
        {% include "reservation_signup/signup_errs.html" %}
		
       
    </div>
     
	
    <div class="clear"></div>
	
{% endblock %}
