{% extends "base.html" %}
{% block main_content %}
    <div style="float:left; width:400px;">
        <h3 style="margin:0 0 20px 0;">Reservation History</h3>


		 {% if  {{ cal_user_to_check }} %}
		      {% ifequal reservation.start_datetime.date reservation.end_datetime.date %}
	                <h4>User: {{ cal_user_to_check }}</h4>
	                <!-- start / end on same day -->
	                <p: <b>{{ reservation.start_datetime|date:"F j, Y" }}</b></p>
	                <p>Time: <b>{{ reservation.start_datetime|date:"P" }}</b> &#151; <b>{{ reservation.end_datetime|date:"P" }}</b></p>
	            {% else %}
	            <!-- start / end on different days -->
	            <p>Start Time: <b>{{ reservation.start_datetime|date:"F j, Y" }} at {{ reservation.start_datetime|date:"P" }}</b></p>
	            <p>End Time: <b>{{ reservation.end_datetime|date:"F j, Y" }} at {{ reservation.end_datetime|date:"P" }}</b></p>
	            {% endifequal %}
	     {% endif %}

		{% if cancel_form and reservation and not ERR_found %}
	    <form method="post" id="cancel_form" name="cancel_form" action="{% url view_cancel_signup reservation.id_hash %}">{% csrf_token %} 
			{{ cancel_form.as_p }}

		    <input type="submit" name="Cancel Reservation" value="Cancel Reservation">

	        <p><br />Return to the <a href="{% url view_month_calendar selected_date|date:"Y-m" %}">monthly calendar</a>.</p>
	    {% endif %}

       
        {% include "reservation_signup/signup_errs.html" %}
		
       
    </div>
    
    {% include "reservation_signup/right_col_reservations.html" %}
    
	<div class="clear"></div>
{% endblock %}
