{% extends "base.html" %}
{% load url from future %}
{% block main_content %}
    <div style="float:left; width:400px;">
        {% include "admin_signup/menu_admin_signup.html" %}
        


        {% if reservation %}
        {#% include "reservation_signup/last_minute_reservation_warning.html" %#}
        
        <div class="gb">
            Success!
            Your reservation has been made.

            <p>User: <b>{{ reservation.user.get_fullname }}</b></p>
        
            {% ifequal reservation.start_datetime.date reservation.end_datetime.date %}
                <!-- start / end on same day -->
                <p>Date: <b>{{ reservation.start_datetime|date:"F j, Y" }}</b></p>
                <p>Time: <b>{{ reservation.start_datetime|date:"P" }}</b> 
                    {# &#151; <b>{{ reservation.end_datetime|date:"P" }}</b>#}</p>
            {% else %}
            <!-- start / end on different days -->
            <p>Start Time: <b>{{ reservation.start_datetime|date:"F j, Y" }} at {{ reservation.start_datetime|date:"P" }}</b></p>
            <p>End Time: <b>{{ reservation.end_datetime|date:"F j, Y" }} at {{ reservation.end_datetime|date:"P" }}</b></p>
            {% endifequal %}
            {% if reservation.billing_code %}
            <p>Billing Code: <b>{{ reservation.billing_code }}</b></p>
            {% endif %}
            
            {% if reservation.include_poster_tube %}
                <p>Poster Tube: <b>{{ reservation.poster_tube_details }}</b></p>
            {% else %}
                <p>Poster Tube: <b>no poster tube</b></p>
            {% endif %}
            {% if reservation.print_media %}
                <p>Print Media: <b>{{ reservation.print_media }}</b></p>
            {% endif %}
            
        </div>
        {% include "reservation_signup/link_return_to_monthly_cal.html" %}

        <p><a href="{% url 'view_admin_signup_page' reservation.start_datetime|date:"Y-m-d" %}">Sign up</a> again for {{ reservation.start_datetime|date:"F j, Y" }}.</p>
    
        {% endif %}

     	{% include "reservation_signup/signup_errs.html" %}
		
       
    </div>
    
    {% include "reservation_signup/right_col_reservations.html" %}
    
	<div class="clear"></div>
{% endblock %}
