{% extends "base.html" %}
{% load url from future %}


{% block extra_header %}
<script language="javascript"  src="{{ STATIC_URL }}js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script language="javascript1.1" type="text/javascript">
<!--

function set_available_hours(){    
    stime = $("#id_start_time").val();
    if (stime==null){ 
        return;   
    }

   /* make sure the string length is 19, e.g. "2009-06-27 00:00:00" */
   if (stime.length != 19){        
       return;     
   }
    // extract the hour/minute portions
    var hh = stime.substring(11, 13);
    var mm = stime.substring(14, 16);

    var hours_url = '{% url 'get_valid_end_times_base'  selected_date|date:"Y-m-d" %}'  + hh + '-' + mm + '/';
    
     $.getJSON(hours_url,{}, function(data){
         if (data.success == false){
             alert('Sorry! ' + data.msg);
             //$('#dialog').html($('<p>' + data.msg + '</p>'));   
             return;
         }
         if (data.success == true){        
             $("select#id_end_time").html(data.options_html);
         }
    })
}


$(document).ready(function(){
    $('select#id_start_time').change(function() {
      set_available_hours();
    });
  
});
//-->
</script>
{% endblock %}
</head>

{% block main_content %}
    <div style="float:left; width:400px;">
        
            
        {% include "admin_signup/menu_admin_signup.html" %}

        {% if calendar_user.is_calendar_admin %}
        
        {% endif %}
        <div id="id_signup_form_div">
            Enter a message to appear on a calendar day.
        <form method="post" id="signup_form" name="signup_form" action="{% url 'view_blackout_signup_page' selected_date|date:"Y-m-d" %}">{% csrf_token %} 
            {{ signup_form.non_field_errors }}
        <table>
            <tr>
                <th>Date:</th>
                <td><b>{{ selected_date|date:"F j, Y" }}</b></td>
            </tr>
        {% if reservation_type %}
        
            {% include "admin_signup/blackout_signup_form.html" %}
        {% endif %}
        </table></form>
        </div>
		{% include "reservation_signup/signup_errs.html" %}
       
        
        
        {% comment %}
        {% if num_timeslots > 0 %}
            <p>building sign-up form - open slots</p>
            <ul>
            {% for ts in open_timeslots %}
                <li>{{ ts.start_datetime|date:"P"}} - {{ ts.end_datetime|date:"P"}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endcomment %}
    </div>
    
    {% include "reservation_signup/right_col_reservations.html" %}
	<div class="clear"></div>
{% endblock %}
