{% if change_time_form  and not ERR_found %}
 
     {% for f in change_time_form %}
         {% if f.is_hidden %}
             {{ f }}
         {% else %}
         <tr>
             <th>{% if f.field.required %}*{% endif %}{{ f.label }}
                 {% if f.help_text %}<br />{{ f.help_text}}{% endif %}</th>
     
             <td>{% for err in f.errors %}
                     <span style="color:#ff0000;">{{ err }}</span><br />
                 {% endfor %} 
                 {{ f }}</td>
             {% endif %}
         </tr>
     {% endfor %}

 <tr>
     <td>&nbsp;</td>
     <td><input type="submit" name="Change Hours" value="Change Hours"></td>
 </tr>
 <tr>
     <th colspan="2">{% include "reservation_signup/link_return_to_monthly_cal.html" %}</td>
 </tr>
 {% endif %}