{% if signup_form  and not ERR_found %}
 
     {% for f in signup_form %}
         {% if f.is_hidden %}
             {{ f }}
         {% else %}
         <tr {% if f.label == 'Poster tube color' %}id="id_tr_poster_tube" style="display:none;"{% endif %}>
             
             <th>{% if f.field.required %}*{% endif %}{{ f.label }}</th>
     
             <td>{% for err in f.errors %}
                     <span style="color:#ff0000;">{{ err }}</span><br />
                 {% endfor %} 
                 {{ f }}</td>
             {% endif %}
         </tr>
     {% endfor %}

 <tr>
     <td>&nbsp;</td>
     <td><input type="submit" name="sign up!" value="sign up!"></td>
 </tr>
 <tr>
     <th colspan="2">{% include "reservation_signup/link_return_to_monthly_cal.html" %}</td>
 </tr>
 {% endif %}