{% extends "base.html" %}
{% load url from future %}

{% block extra_header %}
<script language="javascript"  src="{{ STATIC_URL }}js/jquery-1.7.1.min.js" type="text/javascript"></script>

{% include "reservation_signup/modal_poster_tube_extra_header.html" %}
<!-- from: http://digitalbush.com/projects/masked-input-plugin/; see "jquery.maskedinput-1.3.min.js" for more info  -->
<script language="javascript"  src="{{ STATIC_URL }}js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
<script language="javascript1.1" type="text/javascript">
<!--

// arrays for poster tube color options
{% for poster_tube in poster_tube_types %}
    var color_set{{ poster_tube.id }} = {{ poster_tube.get_color_options|safe }};
{% endfor %}

function set_color_options(){
    var ptube_val = $('#id_poster_tube_type').val();
    var color_set_options = eval('color_set' + ptube_val);
    
    var $el = $("#id_poster_tube_color");
    $el.empty(); // remove old options
    $.each(color_set_options, function(key, value) {
      $el.append($("<option></option>")
         .attr("value", value).text(key));
    });
}

function show_hide_poster_tube_colors(){
    var ptube_val = $('#id_poster_tube_type').val();
    if (ptube_val==''){
        $('#id_tr_poster_tube').hide();
    }else{
        set_color_options();
        $('#id_tr_poster_tube').show();                   
   }
}

function set_contact_info(){
        
    cal_user_id = $("#id_calendar_user").val();
    if (cal_user_id==null){ 
        return;   
    }

   if (cal_user_id.length == 0){        
       return;     
   }
   
    var contact_info_url = '{% url 'get_cal_user_contact_info_base' %}'  + cal_user_id + '/';

     $.getJSON(contact_info_url,{}, function(data){
         if (data.success == false){
             alert('Sorry! ' + data.msg);
             //$('#dialog').html($('<p>' + data.msg + '</p>'));   
             return;
         }
         if (data.success == true){ 
             $("#id_phone_number").val(data.contact_info.phone_number);
             $("#id_email").val(data.contact_info.email);
             $("#id_lab_name").val(data.contact_info.lab_name);
             $("#id_billing_code").val(data.contact_info.billing_code);
            // $("#id_billing_code").mask("999-99999-****-999999-999999-9999-99999");             
         }
    })
}



$(document).ready(function(){
       $("#id_billing_code").mask("999-99999-****-999999-999999-9999-99999");
       
       // if a different user is chosen, his/her contact and billing information is retrieved
       $('select#id_calendar_user').change(function() {
           set_contact_info();
       });
       
       $(".lnk_free_slot").click(function () {
           if (confirm('Free this slot?')) {
                  //alert('yes');
               window.location.href =  this.rel;
           }else{
           }
       });
       
       $('#id_poster_tube_type').change(function() {
                show_hide_poster_tube_colors();
        });
        show_hide_poster_tube_colors();
       
        {% include "reservation_signup/modal_poster_tube_js_dialog.html" %}
        
        
 
        
});
//-->
</script>
{% endblock %}
</head>

{% block main_content %}
    

    <div style="float:left; width:400px;">
        {% include "admin_signup/menu_admin_signup.html" %}

        <div id="id_signup_form_div">
        <form method="post" id="signup_form" name="signup_form" action="{% url 'view_admin_signup_page' selected_date|date:"Y-m-d" %}">{% csrf_token %} 
            {{ signup_form.non_field_errors }}
        <table>
            <tr>
                <th>Date:</th>
                <td><b>{{ selected_date|date:"F j, Y" }}</b></td>
            </tr>
        {% if reservation_type %}
        
            {#% include "admin_signup/reservation_signup_form.html" %#}
            {% include "reservation_signup/standard_signup_form.html" %}
        {% endif %}
        </table></form>
        </div>
		{% include "reservation_signup/signup_errs.html" %}
       
    {% include "reservation_signup/modal_poster_tube.html" %}

    {% include "reservation_signup/right_col_reservations.html" %}
	<div class="clear"></div>
{% endblock %}
