<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>mcb graphics</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mcb_graphics.css" />
{% block extra_header %}
<script language="javascript"  src="{{ STATIC_URL }}js/jquery-1.7.1.min.js" type="text/javascript"></script>
{% endblock %}
{% include "google_analytics.html" %}
</head>
<body>
<div id="container">
<div id="overarching_div">
    
<div id="header">
    <a href="{% url view_current_month_calendar %}"><img src="{{ STATIC_URL }}imgs/mcb_graphics_sm.jpg" width="60" height="60" style="float:left;" /></a>
    <div style="float:left;"><h1>poster printer schedule</h1>
        {% if calendar_user %}
        <div id="id_address">Biological Labs, Room 2058, 16 Divinity Ave, Cambridge, MA 02138</div>
        {% endif %}
    </div>
	<div style="float:right; padding:0 10px; color:#1A2F5A;">
        {% if calendar_user %}
            logged in as {{ calendar_user }}
			<br /><a href="{% url view_logout_page %}">log out</a>
    		{% if calendar_user.is_calendar_admin %}
			&nbsp;|&nbsp; <a href="{% url admin:index %}" target="_blank">admin site</a>
            {% endif %}
        {% else %}
            Biological Labs, Room 2058
            <br />16 Divinity Ave
            <br />Cambridge, MA 02138
        {% endif %}

    </div>

<div class="clear"></div>
</div>

<!-- start: overarching_cal_div -->
{% block main_content %}main_content block{% endblock %}


<!-- start: footer -->

<div id="footer">
    <p>Questions?  Contact <a href="mailto:{{ mcbgraphics_email }}">{{ mcbgraphics_email }}</a></p>
    Copyright © {% now "Y" %} The President and Fellows of Harvard College 
    <br /> <a href="http://www.mcb.harvard.edu">Department of Molecular &amp; Cellular Biology</a> 
    &nbsp;|&nbsp; <a href="http://www.harvard.edu">Harvard University</a>
<br /><br /><span style="font-size:80%">{% now "F jS, Y f:s a" %}</span>
</div><!-- end: footer -->
</div><!-- end: overarching_cal_div -->
</div><!-- end container -->
</body>
</html>