<div id="additional_links">
    <a id="id_show_downloads" rel="show">Show Downloads</a>
    <div id="id_download_div">
        <ul>
            <li><a href="{{ STATIC_URL }}pdfs/mcb_graphics_poster.pdf">Printing a Poster (pdf)</a>
                - Details on printing a poster at mcb graphics</li>

            <li><a href="http://isites.harvard.edu/icb/icb.do?keyword=k75408&tabgroupid=icb.tabgroup136632">Harvard School Shields</a> - Part of the Identity Guidelines for Harvard University.</li>
            <li><a href="https://intranet.seas.harvard.edu/offices-services/communications/logo-and-templates/logo-and-template-files">SEAS Logo &amp; Templates</a> - Links to SEAS logos and SEAS-branded electronic document templates. </li>
    </div>
</div>