<div id="additional_links">
    <a href="{{ STATIC_URL }}pdfs/mcb_graphics_poster.pdf">Printing a Poster (pdf)</a>
    &nbsp;|&nbsp; <a id="id_show_downloads" rel="show">Download Logos</a>
    <div id="id_download_div">
        <br /><b>Links to Logos</b>
        <ul>
            <!-- <li><a href="{{ STATIC_URL }}pdfs/mcb_graphics_poster.pdf">Printing a Poster (pdf)</a>
                - Details on printing a poster at mcb graphics</li>-->

            <li><a href="http://isites.harvard.edu/icb/icb.do?keyword=k75408&tabgroupid=icb.tabgroup136632"  target="_blank">Harvard School Shields</a> - Part of the Identity Guidelines for Harvard University.</li>
            
            <li>Department of Organismic and Evolutionary Biology (OEB)
                <ul>
                    <li><a href="{{ STATIC_URL }}/imgs/logos/oeb_logo_01.jpg" target="_blank">logo 1</a> - black background </li>
                    <li><a href="{{ STATIC_URL }}/imgs/logos/oeb_logo_02.jpg" target="_blank">logo 2</a> - white background</li>
                </ul>
            </li>

            <li>    
                <a href="{{ STATIC_URL }}/imgs/logos/mcz_logo_01.jpg" target="_blank">Museum of Comparative Zoology (MCZ)</a>
            </li>

            <li>    
                <a href="{{ STATIC_URL }}/imgs/logos/huh_logo_01.tif" target="_blank">Harvard University Herbaria (HUH)</a>
            </li>

            
            <li><a href="https://intranet.seas.harvard.edu/offices-services/communications/logo-and-templates/logo-and-template-files"  target="_blank">Harvard School of Engineering and Applied Sciences (SEAS) Logo &amp; Templates</a> - Links to SEAS logos and SEAS-branded electronic document templates. </li>
    </div>
</div>