{% extends "base.html" %}

{% block main_content %}<div style="line-height:0;"><img src="{{ MEDIA_URL }}imgs/site/hm_mission_img.jpg" width="686" height="402" border="0" alt="Mission Statement" /></div>
	<table id="hm_3_cols" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><h4 class="title_hm_scdnews">SCD News &amp; Updates</h4>
			<div class="hm_3_cols_content">Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
			</td>
			<td class="left_col_border"><h4 class="title_hm_bguide">Beginner's Guide</h4>
					<div class="hm_3_cols_content">Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div></td>
			<td class="left_col_border"><h4 class="title_hm_book">The Book</h4>
					<div class="hm_3_cols_content">Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div></td>
		</tr>
	</table>
{% endblock %}