
{% extends "base.html" %}
{% block main_content %}

<form action="http://www.mcb.harvard.edu/HU_Auth2/send.asp" method="post" name="Auther" id="Auther">
	<input type="hidden" name="App" id="App" value="2">
	<label for="hu_pin_login">To sign up, please:</label>					  <input name="Submit" type="submit" id="hu_pin_login" class="smaller" value="Log in with your Harvard PIN" />
				 hi renate, please ignore design for now:)		
</form>
{% if day_events_organizer %}
<div id="overarching_cal_div">
	<div id="evt_month_cal">
        {#num events: {{ num_events }} #}

	    <table cellpadding="0" cellspacing="0">
	        {#% include "schedule_viewer/monthly_calendar_nav.html" %#}
	        <tr>
	            <th colspan="7" style=" background-color:#77aa56; color:#fff; ">
					<div>
					    <div style="float:left; padding:5px 10px; font-size:120%;">{{ selected_month|date:"F Y" }}</div>
					    <div style="float:right;">{% if last_month_date %}<a href="{% url view_month_calendar last_month_date|date:"Y-m" %}">&lt;&lt;</a> &nbsp;{% endif %}

                    	{% if next_month_date %}	&nbsp; <a href="{% url view_month_calendar next_month_date|date:"Y-m" %}">&gt;&gt;</a> &nbsp;{% endif %}</div>
					    <div class="clear"></div>
    				</div>						
				</th>
			</tr>
			 <tr>
	                <td style="text-align:center;">SUN</td>
	                <td style="text-align:center;">MON</td>
	                <td style="text-align:center;">TUES</td>
	                <td style="text-align:center;">WED</td>
	                <td style="text-align:center;">THURS</td>
	                <td style="text-align:center;">FRI</td>
	                <td style="text-align:center;">SAT</td>
	            </tr>
	    {% for one_week in day_events_organizer.cal_weeks %}
	        <tr>
	            {% for day_event_obj in one_week %}
	                <td {% if day_event_obj.is_day_past %}class="cal_td_over"{% endif %}>
	                    <div class="cal_day_num {% if day_event_obj.is_date_other_month %} cal_day_num_other_mth{% endif %}{% if day_event_obj.is_day_today %} cal_day_num_today{% endif %}"><a href="{% url view_signup_page day_event_obj.date|date:"Y-m-d" %}">{{ day_event_obj.date.day }}</a></div>
	                                        <!--({{ day_event_obj.get_event_count }})-->
	                    <div class="cal_day">
	                    {% for evt in day_event_obj.events %}
	                        <div class="evt_listing_mth">
	                            <div class="cal_day_time"><b>{{ evt.start_datetime|date:"P" }}{#-{{ evt.end_datetime|date:"P" }}#}</b>
	                           <br /><a href="{# view_signup evt.id_hash #}" class="cal_name_regular">{{ evt.display_name|safe }}</a></div>
	                        </div>
	                    {% empty %}
	                        <br />&nbsp;
	                    {% endfor %}
	                    </div>
	                </td>
	            {% endfor %}
	        </tr>
	    {% endfor %}
	    </table>    
    </div><!-- end: evt_month_cal --> 
	{% if category_list %}
	<div id="category_list">
	    <ul>
	    {% for cat in category_list %}
	        <li><img src="http://www.mcb.harvard.edu/images/spacer.gif" class="cat_box" style="background-color:#{{ cat.display_color }}" />{{ cat.abbreviation}} - {{ cat.name}}</li>
	    {% endfor %}
	    </ul>
	</div>
	{% endif %}
	<div class="clear"></div>
</div><!-- end: overarching_cal_div -->
{% endif %}
{% endblock %}
