
{% extends "schedule_viewer/cal_base.html" %}

{% block cal_render %}
{% if day_events_organizer %}
<div id="overarching_cal_div">
	<div id="evt_month_cal">
        num events: {{ event_count }}

	    <table cellpadding="0" cellspacing="0">
	        {% include "schedule_viewer/month_calendar_nav.html" %}
	        <tr>
	            <th colspan="7">
					
					{{ start_date_selected|date:"F Y" }}
					
				
						<br /><span style="font-size:75%">
        					{% if last_week_date %}<a href="{% url view_weekly_html_calendar last_week_date|date:"Y/m/d" %}">&lt;&lt;</a> &nbsp;{% endif %}

                        	{% if next_week_date %}	&nbsp; <a href="{% url view_weekly_html_calendar next_week_date|date:"Y/m/d" %}">&gt;&gt;</a> &nbsp;{% endif %}
                        	
                        	{% if last_month_date %}<a href="{% url view_month_calendar last_month_date|date:"Y/m" %}">&lt;&lt;</a> &nbsp;{% endif %}

                        	{% if next_month_date %}	&nbsp; <a href="{% url view_month_calendar next_month_date|date:"Y/m" %}">&gt;&gt;</a> &nbsp;{% endif %}
        				</span>
				</th>
			</tr>
			{% if last_week_date and next_week_date %}
			<tr>
				
				<td colspan="7" style="text-align:center;font-size:70%;padding: 10px;">Week of 
					{% ifequal end_date.year start_date.year %}
						{{ start_date|date:"N d" }} &#151; {{ end_date|date:"N d" }}
					{% else %}
						{{ start_date|date:"N d, Y" }} &#151; {{ end_date|date:"N d, Y" }}
					{% endifequal %}	
	            </td>
			</tr>
	       	{% endif %}
			 <tr>
	                <td style="text-align:center;">SUN</td>
	                <td style="text-align:center;">MON</td>
	                <td style="text-align:center;">TUES</td>
	                <td style="text-align:center;">WED</td>
	                <td style="text-align:center;">THURS</td>
	                <td style="text-align:center;">FRI</td>
	                <td style="text-align:center;">SAT</td>
	            </tr>
	    {% for one_week in day_events_organizer.cal_weeks %}
	        <tr>
	            {% for day_event_obj in one_week %}
	                <td {% if day_event_obj.is_day_past %}class="cal_td_over"{% endif %}>
	                    <div class="cal_day_num {% if day_event_obj.is_date_other_month %} cal_day_num_other_mth{% endif %}{% if day_event_obj.is_day_today %} cal_day_num_today{% endif %}"><a href="{% url view_single_day_html_calendar day_event_obj.date|date:"Y/m/d" %}">{{ day_event_obj.date.day }}</a></div>
	                                        <!--({{ day_event_obj.get_event_count }})-->
	                    <div class="cal_day">
	                    {% for evt in day_event_obj.events %}
	                        <div class="evt_listing_mth" xstyle="background-color:#{{ evt.category.display_color}};">
	                            <div class="cal_day_time">{{ evt.start_time|date:"P" }}{% if evt.end_time %}&#150;{{ evt.end_time|date:"P" }}{% endif %} ({{ evt.category.abbreviation }})</div>
	                            <b>{{ evt.title|safe }}</b>
	                           {% comment %}  {% if evt.speaker %}
	                                <br /><b>speaker</b>: {% if evt.speaker_link %}<a href="{{ evt.speaker_link }}">{{ evt.speaker }}</a>{% else %}{{ evt.speaker }}{% endif %}
	                                {#% if evt.speaker_description %}<br />{{ evt.speaker_description }}{% endif %#}
	                            {% endif %}
	                            {#% if evt.short_description %}<p>{{ evt.short_description }}</p>{% endif %#}
                           
	                            {% if evt.location %}
	                                <br /><b>location:</b> {{ evt.location }}
	                            {% endif %}
	                            {% endcomment %}
	                        </div>
	                    {% empty %}
	                        <br />&nbsp;
	                    {% endfor %}
	                    </div>
	                </td>
	            {% endfor %}
	        </tr>
	    {% endfor %}
	    </table>    
    </div><!-- end: evt_month_cal --> 
	{% if category_list %}
	<div id="category_list">
	    <ul>
	    {% for cat in category_list %}
	        <li><img src="http://www.mcb.harvard.edu/images/spacer.gif" class="cat_box" style="background-color:#{{ cat.display_color }}" />{{ cat.abbreviation}} - {{ cat.name}}</li>
	    {% endfor %}
	    </ul>
	</div>
	{% endif %}
	<div class="clear">
</div><!-- end: overarching_cal_div -->
{% endif %}
{% endblock %}
