{% load url from future %}
{% comment %}
td cell: dkgray | white
        wkend/holiday   | others
td header/number: dkgray | green | lghtgray
                past/wkend/holiday    |  today  | future
click number: today/future
click events: today/future

{% endcomment %}

{% include "schedule_viewer/single_day_number.html" %}

<div class="cal_day">
    {% for evt in day_event_obj.events %}
    <div class="day_evt_listing">
            {% if evt.is_reservation %}
            {# <!-- ================ Reservation ============== --> #}
            <div class="cal_day_time">
                {% if evt.is_timeslot_free %}<span class="timeslot_open">{{ evt.start_datetime|date:"g:i A" }}</span>
                {% else %}{{ evt.start_datetime|date:"g:i A" }}{% endif %} &#150; 
                
                {% if calendar_user %}
                    {% ifequal evt.user calendar_user %}
                        <a href="{% url 'view_cancel_signup' evt.id_hash %}" class="class_{{ evt.status.name|safe }} cal_name_regular">{{ evt.display_name|safe }}</a> {% if calendar_user.is_calendar_admin %}<a href="{% url 'view_reservation_history' evt.user.id_hash %}" class="class_{{ evt.status.name|safe }}">(h)</a>{% endif %}                        {% include "schedule_viewer/event_note_for_cal.html" %}
                    {% else %}{% if calendar_user.is_calendar_admin %}
                        <a href="{% url 'view_cancel_signup' evt.id_hash %}" class="class_{{ evt.status.name|safe }} cal_name_admin">{{ evt.display_name|safe }}</a> <a href="{% url 'view_reservation_history' evt.user.id_hash %}" class="class_{{ evt.status.name|safe }}">(h)</a>
                        {% include "schedule_viewer/event_note_for_cal.html" %}
                    {% else %}
			<span class="">{{ evt.display_name|safe }}</span>
                        <!-- <span style="color:#1a2f5a;">{{ evt.display_name|safe }}</span> -->
                    {% endif %}{% endifequal %}
                {% else %}
		    <span class="class_{{ evt.status.name|safe }}">{{ evt.display_name|safe }}</span> -->
                    <!-- <span style="color:#1a2f5a;">{{ evt.display_name|safe }}</span> -->
                {% endif %} 
		    </div>
            {% endif %}
            {# <!-- ================ Calendar Message ============== --> #}    
           
            {% if evt.is_calendar_message %}
            <div class="cal_day_time_msg">
                  {{ evt.display_name|safe }} 
                  <br />{{ evt.start_datetime|date:"g:iA" }}-{{ evt.end_datetime|date:"g:iA" }}
                  {% if calendar_user.is_calendar_admin %}
                    <a href="{% url 'view_cancel_calendar_message' evt.id_hash %}">(c)</a>
                  {#<a href="{% url 'admin:calendar_event_calendarmessage_change' evt.id  %}" target="_blank">(e)</a>#}{% endif %}
            </div>
            {% endif %}
            
            {# <!-- ================ Full Day Message ============== --> #}    
            {% if evt.is_fullday_message %}
			 <div class="cal_fullday_msg">
	                  {{ evt.display_name|safe }} <br>(All Day)
	                  {% if calendar_user.is_calendar_admin %}
	                    <a href="{% url 'view_cancel_calendar_message' evt.id_hash %}">(c)</a>
	                  {#<a href="{% url 'admin:calendar_event_calendarmessage_change' evt.id  %}" target="_blank">(e)</a>#}{% endif %}
	        </div>            
	        {% endif %}
    </div>
    {% empty %}
        <br />&nbsp;
    {% endfor %}
    </div>
</td>

