body{text-align: center;
     font-family:'trebuchet ms', serif; 
     font-size:12px; 
     margin:0; 
     line-height:150%;
     padding: 0;}

a {color:#1a2f5a; 
    text-decoration:underline;}
a:hover{color:#77aa56; }

h1{color:#1a2f5a; padding:9px 20px 10px 20px; margin:0;  font-family:'trebuchet ms', serif;}
#id_address{color:#1a2f5a; padding:0px 20px; font-size:11px; font-family:'trebuchet ms', serif;}

.res_cancelled, .timeslot_open {text-decoration: line-through;}

.id_logo_list_div{
    padding:10px 0;
    margin:0;
}
.id_logo_list_div ul {
    padding:0 20px;
    margin:0;
    list-style-type:none;
}
.id_logo_list_div ul li{
    padding:5px 0;
    list-style-type:none;
}

div#container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: left;
}
.clear{clear:both;}
#header{margin:0 0 20px 0;}
#header h1{font-size:30px;}

#overarching_div{margin:5px 20px;}
#evt_month_cal table tr {vertical-align:top;}

#email_mcb_div{ color:#1a2f5a;
    font-size:14px;
    float:right;
    text-align:center;
    margin:0 8px 10px 0;
}
#question_div{color:#1a2f5a;
    font-size:14px;
    float:left;
    text-align:center;
    line-height:20px;
    margin: 0px 8px 0px 0px;
    
}

#question_div2{color:#1a2f5a;
    font-size:14px;
    float:left;
    text-align:center;
    margin:0 8px 10px 0px;
}
#question_div a{color:#9a1a2c;    }
#question_div a:hover{color:#77aa56; }

#additional_links{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    width:850px;
    padding:10px 0;
    margin:20px 0 10px 0;
}

#reserve_slot_div{color:#1a2f5a;
    font-size:14px;
    line-height:20px;
    float:left;
    margin:0 10px 20px 0px;
    text-align:center;
}


#hu_pin_login, #hu_email_button, #hu_faq_button{
    margin:2px;
    background-color:#9a1a2c; 
    color:#fff;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#hu_email_button{
    margin:2px;
    background-color:#1a2f5a; 
    color:#fff;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


#evt_month_cal{font-family:verdana; float:left;}
#evt_month_cal table{border-top: 1px solid #1a2f5a;
border-right: 1px solid #1a2f5a; width:850px;
}


#evt_month_cal table th {
    background-color: #fff;
    border-bottom: 1px solid #1a2f5a;
    border-left: 1px solid #1a2f5a;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-weight:normal;
    font-size:16px;
}

#evt_month_cal table th.day_header{ color:#1a2f5a;
    background-color:#e8e8e8;
}

#evt_month_cal table td {
    background-color: #fff;
    border-bottom: 1px solid #1a2f5a;
    border-left: 1px solid #1a2f5a;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 14%;
}

#evt_month_cal table td.cal_td_over {
    background-color: #dadade;
}

#evt_month_cal a.next_prev_week{font-size:11px; color:#333; text-decoration:none;}
#evt_month_cal a.next_prev_week:hover{color:#ff0000; }

/* day of week in the monthly calendar */
.cal_day_num_holiday_weekend{background-color:#dadade;}

.cal_day_num_today{background-color:#56b840; 
    color:#1a2f5a;
}
.cal_day_num_today a{color:#fff;
    text-decoration:underline;
}



.cal_day_num {
    text-align: right;
    margin: 0;
    padding: 2px 10px;
}
.cal_day_num a{ text-decoration:underline; color:#333; font-size:15px; font-weight:normal;}
.cal_day_num a:hover{color:#ff0000;}

.cal_day_num_other_mth{background-color:#ffffcc; }


/* each event listing within a single day block */ 
div.day_evt_listing{font-size:8px; 
    padding:2px; 
    margin:3px 0; 
    line-height:80%;
    }
div.day_evt_listing .cal_day_time{color:#1a2f5a; }

div.evt_note_monthly_cal{
    margin:5px;
    color:#333;
    line-height:100%;
    font-style:italic;}

div.cal_day_time_msg{background-color:#dadade;color:#1a2f5a; line-height:140%;padding:2px; margin:3px 0; }
div.cal_fullday_msg{background-color:#fad4d4;color:#1a2f5a; padding:15px 2px; margin:3px 0;line-height:120%; }

div.day_evt_listing .cal_day_time a.cal_name_regular {
<<<<<<< HEAD
    font-size:100%;
=======
    font-size:110%;
>>>>>>> f332f6d3abe8d6a74fad9bb430a11b41d71a5904
    cursor: pointer;
    text-decoration: underline;
}

div.day_evt_listing .cal_day_time a.cal_name_regular_orig {
    color: #9a1a2c;
    font-size:100%;
    cursor: pointer;
    text-decoration: underline;
}

div.day_evt_listing .cal_day_time a.cal_name_regular_orig:hover { color:#ff0000;}


div.day_evt_listing .cal_day_time a.cal_name_admin {
    font-size:100%;
    cursor: pointer;
    text-decoration: underline;
}
div.day_evt_listing .cal_day_time a.cal_name_admin_orig {
    color: #006699;
    font-size:100%;
    cursor: pointer;
    text-decoration: underline;
}
div.day_evt_listing .cal_day_time a.cal_name_admin_orig:hover { color:#ff0000;}



div.cal_day{padding:2px 0 5px 0;}
<<<<<<< HEAD
div.cal_day a {font-size:10px; text-decoration:underline;}
div.cal_day_orig a {font-size:10px; color:#2952ae; text-decoration:underline;}
=======
div.cal_day a {font-size:11px; text-decoration:underline;}
div.cal_day_orig a {font-size:11px; color:#2952ae; text-decoration:underline;}
>>>>>>> f332f6d3abe8d6a74fad9bb430a11b41d71a5904
div.cal_day_orig a:hover{color:#ff0000;}

/* navigation menu by montly */
#nav_months{background-color:#C3D9FF; padding:8px; text-align:center;}
#nav_months a{color:#333; text-decoration:underline; font-size:12px;}
#nav_months a:hover{color:#ff0000;}
#nav_months a.month_lnk_sel{ font-weight:bold; text-decoration:none;}

/* category list */
#category_list {font-size:11px; float:left;}
#category_list ul {list-style-type:none;}
#category_list li {height:40px; vertical-align:middle;}
#category_list .cat_box{ width:20px; height:20px; border:1px solid #ccc;}

#day_events_list table {border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    padding:0;
    margin:0;
    width:200px;
    }
#day_events_list table tr:hover{background-color:#fffcf1;}
#day_events_list table tr td{border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    padding:10px;
    font-size:12px;
    
}
#day_events_list table tr td.time_col{ white-space: nowrap;}

#day_events_list table tr th{border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    padding:10px;
    font-size:12px;
}


#id_reservation_listing table {border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    padding:0;
    margin:0;
    width:600px;
    }
#id_reservation_listing table tr:hover{background-color:#fffcf1;}
#id_reservation_listing table tr td{border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    padding:10px;
    font-size:12px;
    text-align:left;
}
#id_reservation_listing table tr td.rt{border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    padding:10px;
    font-size:12px;
    text-align:right;
}
#id_reservation_listing table tr td.time_col{ white-space: nowrap;}

#id_reservation_listing table tr th{border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    padding:10px;
    font-size:12px;
    background-color:#FAFAE8;
}

ul.errorlist {list-style-type:none; padding:5px;}
ul.errorlist li{ color:#ff0000;}


.err_box{border:1px solid #ff0000; padding:10px; margin:10px 0; width:280px; background-color:#fff3f3;}
.gb{width:280px;padding:10px; border:2px solid #77aa56; background-color:#f4fcf2;}

#id_signup_form_div table tr th{ font-weight:normal; 
    text-align:left;
    vertical-align:middle;
    
    font-size:12px;}
#id_signup_form_div table tr td{ font-weight:normal; 
    font-size:12px;
    vertical-align:middle;
    
    padding:10px;}
    
a.cal_nav_months{color:#1a2f5a; text-decoration:none; font-size:14px;  line-height:170%;}    
a.cal_nav_months:hover{color:#fff;}    
a.this_month{color:#1a2f5a; text-decoration:underline; font-size:11px;}
a.this_month:hover{color:#fff;}    
   
.enabled_box{height:10px;width:20px;background-color:#52aa42;}
.cancelled_box{height:10px;width:20px;background-color:#ff0000;}
    
#footer{margin:40px 0;}    
